<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure dolore veritatis praesentium illo? Ad accusantium blanditiis totam inventore doloremque consequatur dicta hic impedit repellat, obcaecati voluptatum reiciendis cupiditate voluptatem aspernatur!</p>
    </div>
</div>