<div class="bg-light mt-4 p-4 d-flex align-items-center justify-content-center background-menu text-center">
    <form action="/projects" method="GET">
        <button type="submit" class="btn btn-primary btn-menu btn-lg mx-3">
            <i class="fas fa-code-branch"></i>
            <p>Proyectos</p>
        </button>
    </form>
    <form action="/users" method="GET">
        <button type="submit" class="btn btn-primary btn-menu btn-lg mx-3">
            <i class="fas fa-users"></i>
            <p>Usuarios</p>
        </button>
    </form>
</div>