<div class="bg-light mt-4 p-4">
    <h1 class="display-4">Controlca App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati earum voluptatem facilis perspiciatis numquam cupiditate nemo hic, cum magni ab praesentium architecto culpa, sit dolorem laborum similique maxime ad!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eaque iure dicta. Neque, dignissimos vitae! Ipsum unde, quae est rerum, vero tenetur cupiditate mollitia recusandae nesciunt, minima eveniet deleniti neque!</p>

</div>