<div class="bg-light mt-4 p-4 d-flex justify-content-center flex-column align-items-center">
    <form action="/projects" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Gestionar proyectos</button>
    </form>
    <form action="/users" method="GET">
        <button type="submit" class="btn btn-primary btn-lg mt-4">Gestionar usuarios</button>
    </form>
</div>