{{#each user}}
{{#if name}}
<div class="col-md-4 mx-auto">
    <div class="card mt-3">
        <div class="card-header">
            <h3>Editar usuario</h3>
        </div>
        <div class="card-body">
            <form action="/users/edit/{{_id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                        <input type="text" class="form-control" name="name" value="{{name}}" placeholder="Nombre">
                    </div>
                    <div class="form-group my-3">
                        <input type="text" class="form-control" name="lastname" value="{{lastname}}" placeholder="Apellido">
                    </div>
                    <div class="form-group my-3">
                        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Email">
                    </div>
                    <select class="form-control form-select" name="rol" aria-label="Rol">
                        <option value="admin">Administrador</option>
                        <option value="leader">Líder</option>
                        <option selected value="employee">Empleado</option>
                    </select>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    </div>
            </form>
        </div>
    </div>
</div>
{{/if}}
{{/each}}