<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h2>Controlca App</h2>
            </div>
            {{!-- LOGO --}}
            {{!-- <img src="" class="logo rounded-circle mx-auto d-block m-4" alt=""> --}}
            <div class="card-body">
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group my-3">
                        <input type="password" class="form-control" name="password" placeholder="Password" autofocus>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Acceder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>