<div class="bg-light mt-4 p-4 d-flex justify-content-center flex-column align-items-center">
    <form action="/" method="GET">
        <button type="submit" class="btn btn-primary btn-lg">Agregar usuario</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-primary btn-lg mt-4">Consultar usuarios</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-primary btn-lg mt-4">Modificar usuario</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-primary btn-lg mt-4">Eliminar usuario</button>
    </form>
    <div class="row d-flex justify-content-center mt-4">
    <div class="col-md-2 d-flex justify-content-center">
        <form action="/" >
            <button class="btn btn-outline-secondary btn-block" type="submit">
                Regresar
            </button>
        </form>
    </div>
</div>
</div>
